
* {
    text-align: center;
    color: #20B2AA;
    font-family: Lora, Courier, monospace;
    font-size: 30px;
}

a {
    font-size: 35px;
}

body {
    background-color: #333333;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
}

h1,
h2,
h3 {
    text-decoration: underline;
    padding: 20px;
}

ul {
    list-style-type: none;
}

.h1-img,
.h2-p,
.h3-ingr,
.h3-steps {
    margin: 70px;
}

.recipes,
.ulist {
    margin: 150px;
}



