
* {
    text-align: center;
    color: #20B2AA;
    font-family: Lora, Courier, monospace;
    font-size: 30px;
}

a {
    font-size: 35px;
}

body {
    background-color: #333333;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.recipes,
.ulist {
    margin: 150px;
}

